/* Style for icons beside the certificates */
.accomplishment-icon {
    max-width: 60px;
    height: auto;
    vertical-align: middle;
    margin-right: 12px;
    display: inline-block;
    position: relative;
    top: 4px; /* fine-tune vertical alignment */
  }
  