/* Style for icons beside the certificates */
.accomplishment-icon {
    height: 24px;           /* Set the icon height */
    width: auto;            /* Ensure the width is auto-scaled */
    vertical-align: middle; /* Align the icon vertically */
    margin-right: 10px;     /* Space between the icon and text */
  }